/* Your Website Styles */


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}


        a { color: black; background: lightcyan; padding: 5px 10px; margin: 30px 0px; float: none; } a:hover { background-color: black; color: lightcyan; }

body{

	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	
}

h1{
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 50px;
	background: lightcyan;
	padding: 5px 10px;
	margin: 10px 0px;
	border-radius: 36px;
	border: 10px dimgrey solid;
	text-align: center;

}


h2{

	font-family: 'Open Sans', sans-serif;
	color: black;
	background: lightcyan;
	padding: 5px 10px;
	margin: 10px 0px;
	border-radius: 28px;
	font-size: 35px;
	border: 10px dimgrey solid;
	
	text-align: center;
}
h3 .btn {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	color: lightcyan;
	background: dimgrey;
	padding: 5px 10px;
	margin: 10px 0px;
	border-radius: 25px;
	border: 10px lightcyan solid;
	
	text-align: center;
	text-decoration: none;
}

.btn:hover {
	background-color: black;
	color: lightcyan;
	border: 10px dimgrey solid;
}

h4{
	font-family: 'Open Sans', sans-serif;
	color: lightcyan;
	background: black;
	padding: 5px 10px;
	margin: 30px 0 0 0;
	border-radius: 28px;
	font-size: 28px;
	border: 10px dimgrey solid;
	text-align: center;
}

section {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	margin-left: 40px;
}
/*#skills{
	color: white;
	font-family: "rokitt";
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	margin-left: 20px;

}*/
#profile {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	text-indent: 30px;
	
	/*margin-left: 20px;*/